/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/* Set a background color and text color for the entire page */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Style the header */
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header-left {
    display: flex;
    align-items: center;
    text-align: left;
}

.header-title {
    font-size: 24px;
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

#search {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    cursor: pointer;
}

.header-nav ul {
    list-style: none;
    margin: 0;
}

.header-nav li {
    display: inline;
    margin-right: 10px;
}

.header-nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

/* Style the main content sections */
.main {
    max-width: 1300px; /* Set a max width for the main content */
    margin: 0 auto; /* Center the main content */
    padding: 20px;
    margin-top: 60px;
}


.featured-games {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    height: 500px;
}

.game {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.games {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured h2,
.games h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style the game cards */
.game-card {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.game-card img {
    max-width: 150px;
    max-height: 200px;
    margin-right: 20px;
}

.game-card h3 {
    font-size: 18px;
}

.game-card p {
    font-size: 14px;
    margin-top: 10px;
}

.game-card ul {
    list-style: none;
}

.game-card li {
    margin-bottom: 5px;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #0077b6;
    color: #fff;
    font-size: 14px;
}
