@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* Reset default margin and padding for all elements */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Set a background color and text color for the entire page */
body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh; /* Set minimum height of the body to 100% of the viewport height */
  display: flex;
  flex-direction: column;
}

/* Style the header */
.header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-left {
  display: flex;
  align-items: center;
  text-align: left;
}

.header-title {
  font-size: 24px;
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
}

#search {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-button {
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}

.company-name {
  color: #ffffff;
}

.header-nav ul {
  list-style: none;
  margin: 0;
}

.header-nav li {
  display: inline;
  margin-right: 10px;
}

.header-nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-align: left;
}

.main-container {
  width: 1152px;
  max-width: 100%;
  padding: 0 15px;
}

/* Style the main content sections */
.main {
  display: block;
  flex: 1;
}

.parallax-container {
  position: absolute;
  left: 0;
  height: 220px;
  margin-top: -220px;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1367px) {
  .parallax-container {
    height: 442px;
    margin-top: -442px;
  }
}

.parallax-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -moz-filter: blur(8px);
  -webkit-filter: blur(8px);
  filter: blur(8px);
  transform: scale(1.1);
}

.igdb-chat-message::after,
.gamepage-header-info::after,
.igdb-chat-message::before,
.gamepage-header-info::before {
  content: "";
  display: table;
  clear: both;
}

::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
}

.gamepage-header {
  width: 100%;
  padding-top: 220px;
}

@media (min-width: 1367px) {
  .gamepage-header {
    padding-top: 442px;
  }
}

.gamepage-header__quick-list-input {
  text-align: center;
}

.gamepage-header-info {
  position: relative;
  margin-bottom: 15px;
  padding-top: 15px;

}

.gamepage-header-info .gamepage-title-container {
  position: relative;
}

.gamepage-header-info .gamepage-title-wrapper {
  bottom: 0;
  z-index: 2;
  width: 856px;
  min-height: 188px;
}

.gamepage-actions {
  display: flex;
  justify-content: space-between;
}

.gamepage-actions > div {
  margin-left: 5px;
  margin-right: 5px;
}

.gamepage-actions > div:first-child {
  margin-left: 0;
}

.gamepage-actions > div:last-child {
  margin-right: 0;
}

.gamepage-cover {
  float: left;
  width: 264px;
  margin-right: 15px;
  margin-top: 90px;
}

@media (min-width: 1367px) {
  .gamepage-cover {
    margin-bottom: 80px;
  }
}

@media (min-width: 1367px) {
  .gamepage-cover {
    margin-top: auto;
  }
}

.gamepage-cover .cover_big {
  margin-bottom: 15px;
}

.gamepage-tabs {
  padding-right: 15px;
  border-right: 1px solid #ececec;
}

@media (min-width: 1367px) {
  .gamepage-tabs {
    padding-bottom: 80px;
  }
}

@media (max-width: 420px) {
  .gamepage-tabs .mobile {
    max-width: 100vw;
  }
}

.gamepage-tabs .article {
  font-size: 14px;
}

.gamepage-description {
  margin-top: 50px;
}

.text-semibold {
  font-weight: 600;
}

@media (min-width: 420px) {
  .gamepage-summary {
    float: left;
    width: 560px;
  }
}

.gamepage-summary {
  float: left;
  width: 560px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.upcoming-games {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */

  /* Additional styles for height and animation */
  height: 550px;
  animation: fadeInFromRight 1s ease-out;
}

.upcoming-games-div {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */

  /* Additional styles for height */
  height: 100%; /* Adjust the height as needed */
}



.featured-games {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Display cards from left to right */
  flex-wrap: nowrap; /* Prevent wrapping to the next row */
  overflow-x: auto; /* Add horizontal scroll if needed */
  white-space: nowrap;
  height: 550px;
  animation: fadeInFromRight 1s ease-out;
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px); /* Start position outside the viewport */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* End position at the normal position */
  }
}

.featured-games-div {
  display: flex;
  flex-direction: row; /* Display cards from left to right */
  overflow-x: auto; /* Add horizontal scroll if needed */
  white-space: nowrap;
  height: 100%; /* Adjust the height as needed */
}

.game {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  border: 1px solid #fffdfd;
}

.playing-games-title {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.featured-games-title a, h1{

  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 40px;
  text-decoration: none;
  color: #333;
  
}

.featured-games-title a:hover{
  color: #666666;
  text-decoration: none;
}

.featured h2,
.playing-games-title h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 20px;
}

/* Style the game cards */
.game-card {
  flex: 0 0 auto;
  width: 300px; /* Adjust the width of each game card as needed */
  margin-right: 20px;
  display: inline-block; /* Display game cards horizontally */
  position: relative;
  overflow: hidden;
}

.game-card img {
  width: 100%; /* Make the image fill the entire width of the game card */
  height: 450px; /* Set a fixed height for the images (adjust as needed) */
  object-fit: cover;
  opacity: 1;
  border-radius: 10px;
}

.game-card a {
  text-decoration: none; /* Remove the default link underline */
  color: #333; /* Set the desired text color */
}

.game-card h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: bottom;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

.game-card h3:hover {
  color: #666666; /* Set the desired text color on hover */
  text-decoration: none;
}

.game-card p {
  font-size: 14px;
  margin-top: 10px;
}

.game-card ul {
  list-style: none;
}

.game-card li {
  margin-bottom: 5px;
}

/* ------ Gauge Style ---------- */
.gauge-container {
  width: 150px;
  height: 150px;
  display: block;
  float: left;
  padding: 10px;
  background-color: #ffffff;
  margin: 7px;
  border-radius: 50%;
  position: relative;
}
.gauge-container > .label {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  font-family: monospace;
  font-size: 0.8em;
  padding: 5px 10px;
}
.gauge-container > .gauge .dial {
  stroke: #334455;
  stroke-width: 1;
  fill: rgba(0, 0, 0, 0);
}
.gauge-container > .gauge .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 6;
  fill: rgba(0, 0, 0, 0);
}
.gauge-container > .gauge .value-text {
  fill: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
}

/* ------ Small Gauge Style ---------- */
.small-gauge-container {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #ffffff;
  margin: 7px;
  border-radius: 50%;
  position: absolute;
  bottom: 0; /* Align with the bottom edge of the game-card */
  left: 0; /* Align with the left edge of the game-card */
  transform: translate(0%, -50%); /* Center the gauge using a CSS transform */
  margin-bottom: 20px;
}
.small-gauge-container > .label {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  font-family: monospace;
  font-size: 0.8em;
  padding: 5px 10px;
}
.small-gauge-container > .gauge .dial {
  stroke: #334455;
  stroke-width: 1;
  fill: rgba(0, 0, 0, 0);
}
.small-gauge-container > .gauge .value {
  stroke: rgb(47, 227, 255);
  stroke-width: 6;
  fill: rgba(0, 0, 0, 0);
}
.small-gauge-container > .gauge .value-text {
  fill: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
}

@media (min-width: 1367px) {
  .banner-title {
    font-size: 60px;
  }
}

.banner-title {
  font-size: 40px;
  font-weight: bold;
}

.banner-title,
.banner-subheading,
.banner-subsubheading {
  font-weight: 600;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* search suggestions */
.search-suggestions-box {
  display: block !important;
  position: absolute;
  top: 43px;
  left: 1300px;
  width: 390px;
  max-height: 150px; /* Set a fixed height for the suggestion box */
  overflow-y: auto; /* Add a scrollbar if the suggestions exceed the max height */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  z-index: 1000;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ccc; /* Add a border between suggestion items */
  color: #000; /* Set text color to black */
}

.suggestion-item:last-child {
  border-bottom: none; /* Remove the border for the last suggestion item */
}

.text-container {
  flex-grow: 1;
}

.cover-container {
  margin-right: 10px;
}

.cover-container img {
  width: 40px; /* Set the width of the cover image */
  height: 60px; /* Set the height of the cover image */
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.how-long-banner {
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.time-segment {
  display: inline-block;
  margin: 0 20px;
}

.segment-title {
  font-weight: bold;
}

.gamepage-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.status-button {
  width: 150px;
  background-color: transparent;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease;
}
.status-button:hover {
  background-color: #c2c2c2; /* Change the background color on hover */
}

.status-button svg {
  width: 30px; /* Adjust the width of the SVG icons as needed */
  height: 30px;
  fill: currentColor; /* Set the SVG fill color to match the text color */
}

.status-button p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.index-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0; /* Initially set the opacity to 0 to hide the buttons */
  transition: opacity 0.3s ease;
}
.game-card:hover .index-buttons {
  opacity: 1;
}

.index-status-button {
  width: 50px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Adjust spacing between buttons */
}

.index-status-button:hover {
  background-color: #c2c2c2; /* Change the background color on hover */
}

.index-status-button svg {
  width: 30px; /* Adjust the width of the SVG icons as needed */
  height: 30px;
  fill: currentColor; /* Set the SVG fill color to match the text color */
}

.segment-hours {
  margin-top: 5px;
  font-size: 18px;
}

.rating-container {
  top: 50px;
  margin-top: 60px;
  width: 270px;
  height: 150px;
  box-sizing: border-box;
  float: left;
  padding: 10px;
}

.gamepage-rating {
  font-weight: bold;
  display: block;
}

.rating-star {
  display: inline-block;
  cursor: pointer;
  width: 20px; /* Set the width of the star container */
  height: 30px; /* Set the height of the star container */
  overflow: hidden; /* Hide the overflow to only show the star image */
  margin-right: 0.2px; /* Adjust spacing between stars as needed */
}

/* Style the star image */
.star-image {
  width: 100%; /* Make the image fill the entire container */
  height: auto; /* Maintain the aspect ratio of the star image */
  transition: filter 0.3s ease; /* Add a smooth transition effect */
}

/* Adjust brightness on hover to simulate filling color */
.rating-star:hover .star-image {
  filter: brightness(150%);
}

.rating-star.clicked .star-image {
  content: url("green_star.svg");
}

/* Use the green star image for selected stars */
.rating-star.hovered .star-image,
.rating-star.hovered ~ .rating-star.clicked .star-image {
  content: url("green_star.svg");
}

html, body {
  margin: 0;
  padding: 0;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}
/* Style the footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #0077b6;
  color: #fff;
  font-size: 14px;
  margin-top: auto; /* Push the footer to the bottom */
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}
img {
  max-width: 100%;
}
.slider-container {
  height: 720px;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  
  bottom: 0;
}
.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}
.menu label:hover,
.menu label:focus {
  background: #1c87c9;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}